.moviesList {
  list-style: none;
  padding: 0;
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.link {
  display: block;
  /* text-decoration: none; */
  padding: 10px;
  font-weight: 500;
  color: #2a363b;
  font-size: 18px;
  justify-content: center;
  text-align: center;
}

.link:hover {
  color: #2196f3;
}

.image {
  margin-right: 10px;
}

.movieTitle {
  text-align: center;
}
